@model StartupBudget.Web.ViewModels.ProjectDeveloper.DetailsProjectDeveloperViewModel

@{
    ViewBag.Title = "Project Details";
}

<h2>Project Details</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th class="smallbox">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="smallbox">
                @Html.DisplayNameFor(model => model.From)
            </th>

            <th class="smallbox">
                @Html.DisplayNameFor(model => model.Till)
            </th>

        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.From)
            </td>

            <td>
                @Html.DisplayFor(model => model.Till)
            </td>
        </tr>
</table>
</div>

@Html.Partial("Partial/DevList", Model.Developers)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Projects", "Projects")
</p>
