@model IEnumerable<StartupBudget.Web.ViewModels.Developer.DetailedDeveloperViewModel>

<table class="table">
    <caption>
        <h4>Developers</h4>
    </caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
        </tr>
        }
    </tbody>
</table>

<hr />
