@model StartupBudget.Web.ViewModels.Developer.DetailedDeveloperViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Developer Details</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WeekRate)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>


            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>

            <td>
                @Html.DisplayFor(model => model.WeekRate)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Developers", "Developers")
</p>
